/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Universal */

* {
    margin: 0; /*mengatur jarak seluruh halaman*/
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Bagian Body */

body {
    height: 100vh; /*mengatur tinggi body*/
    display: flex; /*mengatur letak foto agar dibawah*/
    align-items: center; /*mengatur foto agar turun ke bawah bagian tengah*/
    justify-content: center; /*mengatur foto  ke bagian tengah*/
    background-color: aliceblue;
}

/* Bagian Profile Card */

.profile-card {
    max-width: 370px; /*mengatur lebar background kartu agar tidak memanjang*/
    width: 100%; /*mengatur agar lebarnya sesuai dengan max-width*/
    background :#a8d6ff; /*mengatur warna latar belakang kartu*/
    border-radius: 33px; /*mengatur lengkungan pada kartu*/
    padding: 28px; /*mengatur cakupan profil*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /*mengatur warna bayangan pada kartu*/


}

/* Gambar */

.image {
    position: relative; /*mengatur posisi gambar*/
    height: 165px; /*mengatur tinggi gambar*/
    width: 165px; /*mengatur lebar  gambar*/
    border-radius: 50%; /*code untuk lingkaran bulat foto*/
    background-color: #e8e9ed; /*membuat warna di lingkaran foto*/
    padding: 3px; /*membuat warna di lingkaran foto*/
}

.image .profile-img {
    height: 100%; /*mengatur tinggi gambar agar responsif*/
    width: 100%; /*mengatur lebar gambar agar responsif*/
    object-fit: cover; /*membuat gambar menjadi ngezoom*/
    border-radius: 50%; /*code untuk lingkaran bulat foto*/

}